@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.maateen.me/kalpurush/font.css");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --my-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
  margin-right: 20px;
}

::-webkit-scrollbar-button:hover {
  display: block;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 20px;
  visibility: hidden;
}
:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

body {
  background-color: var(--my-color);
  font-family: "Kalpurush", Arial, sans-serif;
}

.font-bangla {
  font-family: "kalpurush";
  word-spacing: 8px;
}

.font-bangla-v2 {
  font-family: "kalpurush";
}

.font-arabic {
  font-family: me_quran;
  word-spacing: 8px;
}

.font-arabic-KFGQ_hafs {
  font-family: KFGQ_hafs;
  word-spacing: 12px;
  font-weight: 100;
}

@font-face {
  font-family: me_quran;
  src: url("/src/assets/fonts/me_quran.ttf");
}

@font-face {
  font-family: KFGQ_hafs;
  src: url("/src/assets/fonts/KFGQ_hafs.ttf");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
